/* Font */
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

img {
    max-width: 100%;
}

body {
    height: calc(100vh + 100px);
    display: flex;
    flex-direction: column;

    margin: 0;
}

.header {
    height: 120px;
    
    font-size: 32px;
    margin-top: 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#start {

}

.header-helper {
    font-size: 16px;
}


.main {
    flex: 1;

    display: flex;

    align-items: center;
    justify-content: center;
}

.player, .computer {
    height: 100%;
    width: 46%;
    outline: 1px solid black;

    display: flex;
    align-items: center;
    justify-content: center;
}

.gameboard {
    height: 420px;
    width: 420px;

    outline: 1px solid black;

    display: flex;
    flex-wrap: wrap;
}

.gameboard.c > .grid-unit:hover, 
.gameboard.c > .grid-unit:focus {
    cursor: pointer;
}

.grid-hidden {
    background-color: white !important;
}

.grid-unit {
    outline: 0.5px solid lightgrey;
    box-sizing: border-box;
}

.grid-found {
    background-color: green !important;
}

.grid-missed {
    background-color: red;
}

.grid-sunk {
    background-color: black;
}

/* Grid-ship individual styling*/
.ship-1 {
    background-color: #d6bbc0;
}

.ship-2 {
    background-color: #d0a3bf;
}

.ship-3 {
    background-color: #c585b3;
}

.ship-4 {
    background-color: #bc69aa;
}

.ship-5 {
    background-color: #af42ae;
}

/* Drag drop */
.grid-droppable:not(.player-ship) {
    outline: 3px solid blue;
}

.ship-droppable:not(.player-ship) {
    background-color: lightsalmon;
}

.grid-preview {
    background-color: blue !important;
}

.grid-dragging {
    filter: brightness(20%);
}

/* Wiggle effect */
@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
  
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
}

/* results modal styling */
dialog::backdrop {
    opacity: 0.9;
}

.result {
    width: 50%;
    height: 30vh;

    border: 3px solid black;
}

/* result modal flex to be run only when displayed */
.result-displayed {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

.result-text {
    margin-bottom: 30px;
    font-size: 42px;
}

.footer {
    font-family: 'Urbanist', sans-serif;

    background-color: white;
    color: black;
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 12px;
}

.github-logo {
    margin-left: 10px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.github-a img{
    opacity: 0.5;
    transition: all 300ms;
}

.github-a img:hover {
    opacity: 1;
    transform: rotate(360deg) scale(1.1);
}
